<div class="well" ng-controller="serverCtrl">
  <div class="alert alert-danger" ng-show="error">
    Unable to read server status ({{error.status}}). Try again.
  </div>
  <div class="container" ng-hide="error">
    {{data}}
  </div>
  <div class="container" ng-hide="error">
    <button type="button" class="btn btn-primary btn-lg" ng-click="showAdd()">Add</button>
  </div>
  <div class="container" ng-show="isAddActive()">
    <form novalidate class="simple-form" ng-submit="addSubmit()">
      <table class="table">
        <tbody>
          <tr><td>Id</td><td><input type="number" ng-model="add.id" /></td></tr>
          <tr><td>Protocol</td>
            <td>
              <select class="form-control" ng-model="add.protocol">
                <option ng-repeat="prot in protocols" value="{{prot}}" ng-model="add.protocol">{{prot}}</option>
              </select>
            </td>
          </tr>
          <tr><td>Content Mananger</td>
            <td>
              <select class="form-control" ng-model="add.contentmanager">
                <option ng-repeat="(key, value) in contentmanagers" value="{{key}}" ng-model="add.contentmanager">{{value}}</option>
              Dropdown with content managers
            </td>
          </tr>
          <tr><td>Host</td><td><input type="text" ng-model="add.host" /></td></tr>
          <tr><td>Port</td><td><input type="number" ng-model="add.port" /></td></tr>
          <tr><td>Min</td><td><input type="number" ng-model="add.min" /></td></tr>
          <tr><td>Max</td><td><input type="number" ng-model="add.max" /></td></tr>
          <tr><td><button type="submit" class="btn btn-lg">Add</button>
        </tbody>
      </table>
    </form>
  </div>
  <div class="container" ng-show="add.success">
    {{add.success}}
  </div>
  <div class="container" ng-show="add.error">
    {{add.error}}
  </div>
</div>
