obj/
.DS_Store
traffic3.xcodeproj/
traffic3.xcworkspace/
bin/Debug/
bin/Release/`
/test/
Makefile
*.make
*.xcodeproj

*.log
*.suo
*.vcxproj
common.vcxproj.user
*.opensdf
traffic3.sdf
*.sln
*.user
*.lib
