*.exe
*.ilk
*.lib
*.log
*.make
*.opensdf
*.pdb
*.sln
*.suo
*.user
*.vcxproj
*.xcodeproj
.DS_Store
Makefile
bin/32bit/Debug/
bin/32bit/Release/
bin/64bit/Debug/
bin/64bit/Release/
obj/
traffic3.sdf
traffic3.xcodeproj/
traffic3.xcworkspace/
