[submodule "3rdparty/Catch"]
	path = 3rdparty/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "3rdparty/hippomocks"]
	path = 3rdparty/hippomocks
	url = https://github.com/dascandy/hippomocks.git
[submodule "3rdparty/premake-core"]
	path = 3rdparty/premake-core
	url = https://github.com/premake/premake-core.git
[submodule "3rdparty/easyloggingpp"]
	path = 3rdparty/easyloggingpp
	url = https://github.com/rsandila/easyloggingpp.git
[submodule "3rdparty/cmdline"]
	path = 3rdparty/cmdline
	url = https://github.com/ys-nuem/cmdline.git
